<!DOCTYPE html>
<html ng-app="main">
	<head>
		<title>Web Client</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.min.js"></script>
		<link rel="stylesheet" href = "css/table.css">  </link>		
	</head>
	<body>
		<div ng-controller='mainController'>
			<table id="table" align="center">
  				<thead>
  					<tr>
  						<th style="width: 80px;"> Name </th>
  						<th style="width: 80px;"> Price </th>
  						<th style="width: 80px;"> Amount</th>
  					</tr>
  				</thead>	
  				<tbody>
					<tr ng-repeat='record in tableData'>
						<td width="100px" align="center">{{record}} </td>
						<td width="100px" align="center">{{record}} </td>
						<td>
							<input type="number" name="amount" min="0"  placeholder="0">
						</td>
					</tr>
  				</tbody>
  			</table>
  			<p align="center" ng-model="totalPrice"> Total price: {{ totalPrice }} </p>
  			<div align="center">
		  		<button ng-click="changeTotalPrice()"> Make order </button>
		  		<button> Update order </button>	
		  		<button> Send upd order </button>
		  		<button ng-click='generateKeyPair()'> Generate new key pair</button>
	  		</div>
		</div>
		<script src="./js/indexedDB.js"></script>
		<script src="./js/help.js"></script>
		<script src="./js/connection.js"></script>	
		<script src="./js/cryptography.js"></script>
		<script src="./js/main.js"></script>
		<script src="./js/index.js"></script>
	</body>
</html>